/* background */
html, body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    background-color: #202124;
  }
  
  /* creating the grid */
  .grid {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  /* format rows */
  .row1, .row2, .row3, .row4, .row5, .row6, .row7 {
    width: 100%;
    text-align: center;
  }
  
  /* format buttons */
  .btns1, .btns2, .btns3, .btns4, .btns5, .btns6, .btns7 {
    width: 50px;
    height: 50px;
    background-color: #026402; /*1*/
    border: none;
    text-align: center;
    color: white;
    margin: -3px -3px 0px -3px;
    padding: 0;
  }
  
  /* format buttons continued */
  #btn11, #btn13, #btn15, #btn17, 
  #btn22, #btn24, #btn26, 
  #btn31, #btn33, #btn35, #btn37,
  #btn42, #btn44, #btn46,
  #btn51, #btn53, #btn55, #btn57,
  #btn62, #btn64, #btn66,
  #btn71, #btn73, #btn75, #btn77 {
    background-color: #076e07; /*0*/
  }
  
  /* score */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 21px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* information icon */
  .gg-info {
    float: right;
    margin: 21px 16px;
    color: white;
  }
  
  /* information caption */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    top: -5px;
    right: 200%;
  }
  
  /* information caption visibility */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  /* Start Over button */
  .resetBtn {
    margin: auto;
    text-align: center;
    padding: 0;
  }
  
  /* format Start Over button */
  #reset {
    background-color: white;
    color: black;
    font-weight: bold;
    width: 120px;
    height: 50px;
    padding: 10px 10px;
    border-radius: 5px;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-color: black;
    border-width: 3px;
  }
  
  /* Start Over button hover action */
  #reset:hover {
    background-color: gray;
  }
  
  #end {
    color: white;
    font-size: 80px;
    position: absolute;
    top: 38%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  #title {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 15%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
